<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-2">Angular Routing</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a veniam laborum quae repudiandae. Veniam omnis unde optio commodi temporibus ipsam veritatis, similique quod, recusandae consequuntur necessitatibus numquam illo praesentium.</p>
        </div>
    </div>
</div>